html, body {
  background-color: white;
  font-family: Verdana,Geneva,sans-serif;
  color: black;
  font-size: 16px; }

#container {
  margin: 0 auto;
  width: 800px;
  background: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }

#language {
  list-style: none;
  background-color: #ffcc00;
  margin: 0px;
  text-decoration: none;
  text-align: right; }
  #language ul {
    list-style: none;
    margin-bottom: 10px;
    padding-right: 20px; }
    #language ul li {
      display: inline;
      list-style-type: none; }
  #language a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
    text-transform: lowercase; }
    #language a:hover {
      color: white;
      background-color: #dd0066; }

#header {
  height: 50px; }
  #header h1 {
    color: black;
    padding-left: 00px;
    margin: 0px; }
  #header #logo {
    position: relative;
    top: -40px;
    left: 620px;
    width: 170px;
    height: 170px;
    z-index: 1; }
    #header #logo img {
      width: 170px;
      height: 170px; }

#menu {
  float: left;
  width: 100%;
  background: white;
  width: 600px;
  margin-bottom: 10px; }
  #menu li a {
    display: block;
    float: left;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black; }
    #menu li a:hover {
      background: #dd0066;
      color: white; }
  #menu ul {
    margin: 0;
    padding: 0; }
    #menu ul li {
      list-style-type: none;
      display: inline; }

#content {
  clear: left;
  padding: 0px; }
  #content ol {
    padding-left: 0px;
    list-style: none; }
  #content h2 {
    background-image: url(../img/logo_top_start_600.png);
    background-repeat: no-repeat;
    height: 29px;
    color: white;
    margin: 0px;
    padding-left: 10px; }
  #content a {
    font-family: monospace;
    text-decoration: none;
    color: black;
    background-color: #ffcc00; }
    #content a:hover {
      color: white;
      background-color: #dd0066;
      font-family: monospace; }
  #content code {
    color: black;
    background-color: #ffcc00; }
    #content code:hover {
      color: white;
      background-color: #dd0066;
      font-family: monospace; }

#footer {
  background-color: #ffcc00;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 20px;
  margin-top: 10px; }
