%h2~ t('contact.header')

%ol
  %li
    %h3~ t('contact.meetings.headline')
    .meetings
      = textilize(t('contact.meetings.text'))

  %li
    %h3~ t('contact.mailingliste.headline')
    .mailingliste
      = textilize(t('contact.mailingliste.text'))
  %li
    %h3~ t('contact.mail.headline')
    .mail
      = textilize(t('contact.mail.text'))